* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    cursor: default;
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#body-div {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

.header {
    /* background-color: red; */
    min-height: 5vh;
    min-width: 100vw;
}

.container {
    height: 25vh;
    width: 75vw;
    margin-left: 13vw;
    margin-right: 8vw;
    margin-top: 5vh;
    padding: 0%;
    border-radius: 1rem;
    outline-offset: 0.1rem;
    overflow: hidden;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

#container-header {
    background-color: blueviolet;
    height: 1.5vh;
}

#market-div {
    /* background-color: yellow; */
    min-width: 5.5vw;
    height: 1.5vh;
    float: left;
    color: #FFFFFF;
    margin-left: 0.2rem;
    opacity: 0.8;
    font-size: 9px;
    font-family: OpenSans-Regular, PingFangSC-Regular, Arial, Helvetica, Microsoft YaHei, sans-serif;
    color: #FFFFFF;
    padding-top: 0.1vh;
}

#stock-name-div {
    /* background-color: green; */
    min-width: 9vw;
    height: 1.5vh;
    float: left;
    font-size: 9px;
    font-family: OpenSans-Regular, PingFangSC-Regular, Arial, Helvetica, Microsoft YaHei, sans-serif;
    color: #FFFFFF;
    padding-top: 0.1vh;
    margin-left: 0.5vw;
}

#stock-ETF-div {
    /* background-color: grey; */
    min-width: 52vw;
    height: 1.5vh;
    float: left;
    text-align: right;
    font-size: 10px;
    font-family: OpenSans-Regular, PingFangSC-Regular, Arial, Helvetica, Microsoft YaHei, sans-serif;
    color: #FFFFFF;
    opacity: 0.8;
    line-height: 1.9vh;
}

#container-body {
    /* background-color: blueviolet; */
    /* display: inline-block; */
    position: relative;
    min-height: 30vh;
}

#name-ticker {
    /* background-color: blue; */
    min-width: 12vw;
    text-align: left;
    position: absolute;
    left: 23vw;
    top: 2vh;
    font-family: OpenSans-Light;
    font-size: 45px;
    font-weight: 200;
    color: white;
    /* margin-top: 2vh; */
}

#price {
    /* background-color: pink; */
    text-align: left;
    min-width: 6vw;
    height: 5vh;
    float: left;
    font-family: OpenSans-Regular, PingFangSC-Regular, Arial, Helvetica, Microsoft YaHei, sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 23vw;
    top: 10vh;
}

#points,
#percentage,
#volume {
    padding-left: 1.5vw;
    font-family: OpenSans-Regular, PingFangSC-Regular, Arial, Helvetica, Microsoft YaHei, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

#points {
    /* background-color: grey; */
    position: absolute;
    left: 23vw;
    top: 15.5vh;
}

#percentage {
    /* background-color: blue; */
    position: absolute;
    left: 23vw;
    top: 17vh;
}

#volume {
    /* background-color: green; */
    position: absolute;
    left: 23vw;
    top: 18.6vh;
}

/* ------------------------------------------------------------- */

.popular-stocks {
    /* background-color: red; */
    height: 44vh;
    width: 75vw;
    margin-top: 2rem;
    margin-left: 13vw;
    border-radius: 1rem;
    outline-offset: 0.1rem;
    overflow: hidden;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);

    backdrop-filter: blur(5px);
}


.pop-stocks-header {
    background-color: blueviolet;
    height: 5vh;
    text-align: center;
    font-size: 26px;
    text-transform: capitalize;
    font-family: OpenSans-Regular, PingFangSC-Regular, Arial, Helvetica, Microsoft YaHei, sans-serif;
    color: #FFFFFF;
    /* padding-top: 2rem; */
}

.pop-stocks-titles {
    font-weight: bold;
}

#AAPL,
#TSLA,
#AMZN,
#AMD,
#NVDA,
#GOOGL,
#MSFT {
    cursor: pointer;
}

#AAPL:hover,
#TSLA:hover,
#AMZN:hover,
#AMD:hover,
#NVDA:hover,
#GOOGL:hover,
#MSFT:hover {
    color: white;
}

.popular-stocks {
    /* background-color: yellow; */

}

.pop-stocks {
    /* background-color: red; */
    display: flex;
    align-items: center;

}

div ul {
    list-style-type: none;
}

ul li {
    /* background-color: green; */
    margin-top: 0.7rem;
    height: 38vh;
    width: 16vw;
    float: left;
    line-height: 2.5rem;
    word-spacing: 4.2rem;
    margin-left: 4.4px;
    text-align: left;

}