* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    cursor: default;
}

body {
    background-image: url("../img/background9.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#body-div {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

.header {
    min-height: 5vh;
    min-width: 100vw;
}

.container-one {
    padding: 5vh 7vw;
}

.container{
    border-radius: 1rem;
    outline-offset: 0.1rem;
    overflow: hidden;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    padding: 0%;
}


#container-header {
    background-color: blueviolet;
    height: 2.5vh;
    text-align: center;
    align-items: center;
}

#market-ticker-div {
    min-width: 10.5vw;
    height: 1.5vh;
    float: left;
    color: #FFFFFF;
    margin-left: 0.2rem;
    opacity: 0.8;
    font-size: 10px;
    font-family: OpenSans-Regular, PingFangSC-Regular, Arial, Helvetica, Microsoft YaHei, sans-serif;
    color: #FFFFFF;
    padding-top: 0.4vh;
}

#container-body {
    position: relative;
    min-height: 30vh;
    text-align: center;
    align-items: center;
}

#name-ticker {
    color: white;
    font-family: OpenSans-Light;
    font-size: 45px;
    font-weight: 200;
}

#price {
    font-family: OpenSans-Regular, PingFangSC-Regular, Arial, Helvetica, Microsoft YaHei, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

/* ------------------------------------------------------------- */

.container-two {
    padding: 5vh 7vw;
}

.popular-stocks {
    border-radius: 1rem;
    outline-offset: 0.1rem;
    overflow: hidden;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    padding: 0%;
}

.pop-stocks-header {
    background-color: blueviolet;
    height: 7vh;
    text-align: center;
    font-size: 26px;
    text-transform: capitalize;
    font-family: OpenSans-Regular, PingFangSC-Regular, Arial, Helvetica, Microsoft YaHei, sans-serif;
    color: #FFFFFF;
}

.pop-stocks-titles {
    font-weight: bold;
}

#AAPL,
#TSLA,
#AMZN,
#AMD,
#NVDA,
#GOOGL,
#MSFT {
    cursor: pointer;
}

#AAPL:hover,
#TSLA:hover,
#AMZN:hover,
#AMD:hover,
#NVDA:hover,
#GOOGL:hover,
#MSFT:hover {
    color: white;
}

.pop-stocks {
    display: flex;
    text-align: center;
    align-items: center;

}

div ul {
    width: 100vw;
    list-style-type: none;
    text-align: center;
    align-items: center;
    
}

ul li {
    margin-top: 0.7rem;
    width: 16vw;
    float: left;
    word-spacing: 4.2rem;
    margin-left: 4.4px;
    text-align: left;
}

.volume-column {
    display: none;
}

#volume-title-div{
    font-weight: bold;
}


@media screen and (min-width: 760px) {
    #market-ticker-div {
        font-size: 15px;
    }
    #name-ticker {
        font-size: 65px;
    }

    #price {
        font-size: 50px;
    }

    #points, #percentage, #volume{
        font-size: 25px;
    }

    .pop-stocks-header {
        font-size: 40px;
    }

    ul li {
        font-size: 30px;
    }

}

@media screen and (min-width: 1024px) {

    .container-one {
        padding: 10vh 24vw;
        padding-bottom: 5vh;
    }

    .container-two {
        padding: 0vh 24vw;
        padding-top: 0%;
    }

    #market-ticker-div {
        font-size: 15px;
    }

    #name-ticker {
        font-size: 45px;
    }

    #price {
        font-size: 30px;
    }

    #points, #percentage, #volume{
        font-size: 15px;
    }

    .pop-stocks-header {
        font-size: 30px;
    }

    ul li {
        font-size: 15px;
        width: 8vw;
    }

    .volume-column{
        display: block;
    }

    #container-header {
        height: 4vh;
    }
}


